# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# JetBrains files
.idea

# Optional REPL history
.node_repl_history

# Environment files
*.env

# Code style restrictions
.eslintrc.yml

# Build Folders
dist
*.tmp
*.sass-cache
bower_components
*.classpath
*.project
/frontApp/www
target
.bin/*
.bin/**
*/.bin/*
*/.bin/**
**/.bin/*
**/.bin/**

# TO BE ADDED another dot files and dependencies
