<div class="row">

  <div class="col-lg-2">
    <ul class="list-group borderless">
      <h4>Challenges</h4>
      <li class="list-group-item">
        ich bin brot<span class="fa fa-check"/>
        <p class="doneChallenge">challenge a friend! <span class="xpSpent">10</span></p>
      </li>
      <li class="list-group-item">
        ich bin katze<span class="fa fa-check"/>
        <p class="doneChallenge">challenged by Stefan! <span class="xpSpent">20</span></p>
      </li>
      <li class="list-group-item">
        ich bin hund
      </li>
      <li class="list-group-item greyRight">
        ich bin man
      </li>
    </ul>
  </div>

  <div class="col-lg-8">
    <div>
      <p>Turn the text in the editor into the following in as few keystrokes as possible:</p>
      <strong>The quick lazy dog jumps over the brown fox</strong>
    </div>
    <br/>
    <div>
      <p>Keys so far (5):</p>
      <strong>llwdwpup</strong>
    </div>
    <br/>

    <easy-vim-directive></easy-vim-directive>

    <div class="row keySection">
      <div class="col-lg-6">
        <h3 class="keyHeader">new keys</h3>
        <hr class="blueLine" width="110%"/>
        <div class="keyDiv">
          <div class="leftKeyColumn greyLeft">w</div>
          <div class="rightKeyColumn greyRight">next word</div>
        </div>
        <div class="keyDiv">
          <div class="leftKeyColumn greyLeft">w</div>
          <div class="rightKeyColumn greyRight">next word</div>
        </div>
        <div class="keyDiv">
          <div class="leftKeyColumn greyLeft">w</div>
          <div class="rightKeyColumn greyRight">next word</div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="keyHeader">previous keys</h3>
        <hr class="blueLine"/>
        <div class="keyDiv">
          <div class="leftKeyColumn greyLeft">h</div>
          <div class="rightKeyColumn greyRight">left</div>
        </div>
        <div class="keyDiv">
          <div class="leftKeyColumn greyLeft">l</div>
          <div class="rightKeyColumn greyRight">right</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <ul class="list-group borderless historyList">
      <h4 class="leftHistoryHeader">Experience</h4>
      <h4 class="rightHistoryHeader">History</h4>
      <li class="list-group-item">
        <div class="leftHistoryColumn greyLeft">-2 xp</div>
        <div class="rightHistoryColumn greyRight">click</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">+3 xp</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greyLeft">-2 xp</div>
        <div class="rightHistoryColumn greyRight">click</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">+3 xp</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">LEVEL 5</div>
        <div class="rightHistoryColumn greenRight">reached</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greyLeft">-2 xp</div>
        <div class="rightHistoryColumn greyRight">click</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">+3 xp</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greyLeft">-2 xp</div>
        <div class="rightHistoryColumn greyRight">click</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">+3 xp</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
      <li class="list-group-item">
        <img class="badgeColumn" src="/css/icons/Dice.png"/>
        <div class="leftHistoryColumn greenLeft">Badge</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
    </ul>
  </div>
</div>





