<div class="row" ng-keypress="$ctrl.addKeyPressed($event)">

  <div class="col-lg-2">
    <h3>Challanges</h3>
    <ul class="list-group borderless">
      <li class="chapter-list-item" ng-repeat="difficulty in $ctrl.challengeDifficulties">
        {{difficulty.name}}<span class="xpSpent">{{difficulty.attemptPrice}}</span>
        <div class="lesson-list-item" ng-repeat="challenge in difficulty.challenges"
             ng-click="$ctrl.setCurrentQuest(difficulty,challenge)">
          {{challenge.name}}<span class="fa fa-check"/>
        </div>
      </li>

      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Select a friend</h4>
              Invite for {{$ctrl.currentQuest.difficulty.invitePrice}}
            </div>
            <div class="modal-body">
              <ul class="no-bull-list">
                <li ng-repeat="friend in $ctrl.friends" ng-click="$ctrl.sendInvitation(friend)">
                  <img class="user-pic" ng-src="{{friend.picture}}"/>
                  <span>{{friend.name}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </ul>
  </div>

  <div class="col-lg-8">
    <div>
      <!--<strong>Quest Description: {{$ctrl.currentQuest.description}}</strong>-->
      <h4>{{$ctrl.currentQuest.name}}</h4>
      <strong ng-repeat="line in $ctrl.descriptionLines">
        {{line}}<br>
      </strong>
      <p>Turn the text in the editor into the following in as few keystrokes as possible:</p>
      <strong ng-repeat="line in $ctrl.targetTextLines">
        {{line}}<br>
      </strong>
      <!--<strong>{{$ctrl.targetText}}</strong>-->
    </div>
    <br/>
    <div>
      <p>Keys so far ({{$ctrl.keysPressed.length}}):</p>
      <strong>{{$ctrl.keysPressed}}</strong>
    </div>
    <br/>
    <br/>
    <easy-vim-directive current-lesson="currentLesson" history="history"
                        theme="localTheme.codename" ng-paste="stopPasteEvent($event)"></easy-vim-directive>


    <div class="row challenge-scores">
      <div class="col-lg-6">
        <h3 class="keyHeader">Top scores</h3>
        <hr class="blueLine" width="110%"/>
        <div class="keyDiv pull-left" ng-repeat="score in $ctrl.scores">
          <div ng-if="score.user.name !== $ctrl.user.name" class="leftKeyColumn greyLeft">{{score.keySequence.length}}</div>
          <div ng-if="score.user.name !== $ctrl.user.name" class="rightKeyColumn greyRight">{{score.user.name}}</div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="keyHeader">Your best</h3>
        <hr class="blueLine"/>
        <div class="keyDiv">
          <div ng-if="$ctrl.personalBest !== 0" class="leftKeyColumn greyLeft doneChallenge">{{$ctrl.personalBest}}</div>
          <div class="doneChallenge" data-toggle="modal" data-target=".bs-example-modal-sm">Challenge a friend!</div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <ul class="list-group borderless historyList">
      <h4 class="leftHistoryHeader">Experience</h4>
      <h4 class="rightHistoryHeader">History</h4>
      <li class="list-group-item">
        <div class="leftHistoryColumn greyLeft">-2 xp</div>
        <div class="rightHistoryColumn greyRight">click</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">+3 xp</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greyLeft">-2 xp</div>
        <div class="rightHistoryColumn greyRight">click</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">+3 xp</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">LEVEL 5</div>
        <div class="rightHistoryColumn greenRight">reached</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greyLeft">-2 xp</div>
        <div class="rightHistoryColumn greyRight">click</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">+3 xp</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greyLeft">-2 xp</div>
        <div class="rightHistoryColumn greyRight">click</div>
      </li>
      <li class="list-group-item">
        <div class="leftHistoryColumn greenLeft">+3 xp</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
      <li class="list-group-item">
        <img class="badgeColumn" src="/css/icons/Dice.png"/>
        <div class="leftHistoryColumn greenLeft">Badge</div>
        <div class="rightHistoryColumn greenRight">2w</div>
      </li>
    </ul>
  </div>

</div>





