<div class="row">

  <div class="col-lg-2">
    <ul class="list-group borderless">
      <h4>Sections</h4>
      <li class="list-group-item">1 basic movement</li>
      <li class="list-group-item">2 word movement</li>
      <li class="list-group-item">3 basic movement</li>
      <li class="list-group-item">4 basic movement</li>
      <li class="list-group-item">5 basic movement</li>
      <li class="list-group-item">6 basic movement</li>
      <li class="list-group-item">7 basic movement</li>
      <li class="list-group-item">8 basic movement</li>
    </ul>
  </div>

  <div class="col-lg-10">
    <ul class="cheatSheetItem" >

      <li style="list-style-type: none;" ng-repeat="(sectionName, cheats) in sections">
        <h2>{{sectionName}}</h2>

        <div ng-repeat="cheat in cheats" >
          <strong class="leftCheatColumn">{{cheat.shortcut}}</strong>
          <p class="rightKeyColumn">{{cheat.description}}</p>
        </div>
      </li>

    </ul>
  </div>
</div>
