<div class="row">

  <div class="col-lg-2">
    <ul class="list-group borderless">
      <h4>Sections</h4>
      <div ng-repeat="section in commandSections">
        <li class="list-group-item">{{section.name}}</li>
      </div>
    </ul>
  </div>

  <div class="col-lg-10">
    <ul class="cheatSheetItem" >

      <li class="noStyleList" ng-repeat="section in commandSections">
        <h2>{{section.name}}</h2>

        <div ng-repeat="command in section.commands" >
          <strong class="leftCheatColumn">{{command.key}}</strong>
          <p class="rightKeyColumn">{{command.description}}</p>
        </div>
      </li>

    </ul>
  </div>
</div>
