<div class="row">

  <div class="col-lg-2">
    <ul class="list-group borderless">
      <h3>Sections</h3>
        <li class="list-group-item" ng-repeat="section in commandSections" style="padding-top: 5px; padding-bottom: 5px">{{section.name}}</li>
    </ul>
  </div>

  <div class="col-lg-10">
    <ul class="cheatSheetItem" >

      <li class="noStyleList" ng-repeat="section in commandSections">
        <h2 class="sectionName">{{section.name}}</h2>

        <div ng-repeat="command in section.commands" >
          <p class="leftCheatColumn">{{command.key}}</p>
          <p class="rightKeyColumn">{{command.description}}</p>
        </div>
      </li>

    </ul>
  </div>
</div>
