<div class="row">

  <div class="col-lg-2">
    <h3>Lessons</h3>
    <div class="chapter-list-item" ng-repeat="chapter in chapters" ng-class="getChapterClass(chapter)">
      {{getChapterOrder(chapter)}} {{chapter.name}}
      <div class="lesson-list-item" ng-repeat="lesson in chapter.lessons" ng-class="isSelected(lesson) ? 'lesson-selected' : 'lesson-unselected'" ng-click="selectLesson(lesson, chapter)">
        {{lesson.order}} {{lesson.name}}
        <span ng-class="isCompleted(lesson) ? 'fa fa-check' : 'fa' "/>
      </div>
      <br>
    </div>
  </div>

  <div class="col-lg-8">
    <div style="text-align: center">{{currentLesson.condition}}</div>
    <!--progress bar-->
    <uib-progressbar class="progress active" value="lessonProgress" type="success">{{getLessonProgress()}}%</uib-progressbar>
    <!--editor-->
    <easy-vim-directive progress-listener current-lesson="currentLesson" add-history="addHistory(xp, command)" pressed-keys="pressedKeys"></easy-vim-directive>

    <div class="row keySection">
      <div class="col-lg-6">
        <h3 class="keyHeader">new keys</h3>
        <hr class="blueLine"/>
        <div class="keyDiv" ng-repeat="command in currentLesson.commands">
          <div class="leftKeyColumn greyLeft">{{command.key}}</div>
          <div class="rightKeyColumn greyRight">{{command.description}}</div>
        </div>
      </div>

      <div class="col-lg-6">
        <h3 class="keyHeader">previous keys</h3>
        <hr class="blueLine"/>
        <div class="keyDiv" ng-repeat="command in previousKeys">
          <div class="leftKeyColumn greyLeft">{{command.key}}</div>
          <div class="rightKeyColumn greyRight">{{command.description}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <ul class="list-group borderless historyList">
      <h4 class="leftHistoryHeader">Experience</h4>
      <h4 class="rightHistoryHeader">History</h4>
      <li class="list-group-item" ng-repeat="action in history">
        <div ng-class="isActionPositive(action) ? 'leftHistoryColumn greenLeft' : 'leftHistoryColumn greyLeft'">{{action.xp}}xp</div>
        <div ng-class="isActionPositive(action) ? 'rightHistoryColumn greenRight' : 'rightHistoryColumn greyRight'">{{action.command}}</div>
      </li>
      <div style="text-align: center; width: 100%">
        When you do something in the editor you will gain experience, gold or achievements.
      </div>
    </ul>
  </div>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          Congratulations! <br>
          Lesson "{{currentLesson.name}}" from chapter {{getChapterOrder(currentChapter)}} was completed! <br>
          <input type="button" value="Next lesson" ng-click="">
        </div>
      </div>
    </div>
  </div>

</div>




