*
  box-sizing: border-box
  margin: 0
  padding: 0

.navbar-item
color: white!important


//.myProgress
//  position: relative
//  width: 300px
//  height: 5px
//  background-color: darkgrey
//
//.myBar
//  position: absolute
//  width: 50%
//  height: 100%
//  background-color: green


.main-view
  position: relative
  margin-left: 75px
  transition: margin-left ease 1s

.nav-list:hover + .main-view
  margin-left: 275px

.myProgress
  position: relative
  margin-top: 10px
  width: 85%
  height: 5px
  background-color: darkgrey

.myBar
  position: absolute
  width: 50%
  height: 100%
  background-color: green

.lessonListItem
  width: 20%
  height: 50px
  border: 1px solid
  border-radius: 10px
  &:hover
    height: 70px
    .lessonListItemExtension
      visibility: visible

.lessonListItem > div
  margin-left: 20px
  margin-top: 5px
  &:hover
    visibility: visible

.lessonListItemExtension
  visibility: hidden

#firstDiv
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif
  width: 33%
  padding: 2%
  float: left


.cheat-sheet
width: 300px
&:after
  clear: both

.cheat-section
  padding: 10px
  margin: 30px
  float: left

