h1 {
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}

.centered {
    width: 80%;
    margin: auto;
}

/*.CodeMirror {*/
    /*font-family: Hack, monospace;*/
    /*width: 100%;*/
    /*font-size: 15px;*/
/*}*/

.style-suggestion-tooltip {
    font-family: Hack, monospace;
    /*color: #268bd2*/
}