<div class="row">

  <div class="col-lg-2 col-md-2 col-sm-4">


    <ul class="list-group borderless">
      <li class="list-group-item" ng-repeat="elem in $ctrl.sidebarElements"
          ng-click="$ctrl.selectOption(elem)" ng-class="elem.clicked ? 'clicked' : ''">
        {{elem.name}}
      </li>

    </ul>


  </div>

  <div class="col-lg-10 col-md-10 col-sm-8 container-fluid">

    <div class="row">

      <h4 ng-class="$ctrl.sidebarElements[2].clicked ? 'clicked' : ''">
        {{$ctrl.sidebarElements[2].name}}
      </h4>

      <div class="col-lg-11">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{width: user.lessonsCompleted + '%'}"></div>
        </div>
        <div style="width: 10%; display: inline-block" ng-repeat="levelInfo in $ctrl.levelInfos">
          <div>{{levelInfo.number}}</div>
        </div>
      </div>

      <div class="col-lg-1">
        <a data-toggle="tooltip" title="Logout"
           ng-click="$ctrl.logout()">
          Sign out
        </a>
      </div>
      <!--<div>-->
      <!--<div ng-repeat="i in [1, 2, 3, 4]" style="display: inline-block">movement lessons</div>-->
      <!--</div>-->

    </div>

    <div class="row">

      <h4 ng-class="$ctrl.sidebarElements[1].clicked ? 'clicked' : ''">
        {{$ctrl.sidebarElements[1].name}}
      </h4>

        <div ng-repeat="achievement in $ctrl.achievements" class="badges-profile">
          <div ng-class="$ctrl.user.achievementsUnlocked.indexOf(achievement.order) > -1 ? 'availableAchievement' : 'unavailableAchievement'">
            <img class="col-lg-4 badgeFormat" ng-src="{{'css/icons/' + achievement.picturePath}}"/>
            <div class="col-lg-8 badgeDescription">
              <h4 style="margin-bottom: 0">{{achievement.name}}</h4>
              <p>{{achievement.description}} </p>
            </div>
          </div>
        </div>

    </div>

    <div class="row themesWidth">
      <h4 ng-class="$ctrl.sidebarElements[3].clicked ? 'clicked' : ''">
        {{$ctrl.sidebarElements[3].name}}
      </h4>
      <div class="row centralized">
        <span class="col-lg-3" ng-repeat="th in $ctrl.themes" ng-click="$ctrl.changeTheme(th)">
          <img class="imageTheme" src="/css/icons/{{th.previewPicPath}}" />
          <div>{{th.displayName}}</div>
          <div ng-show="$ctrl.theme.codename === th.codename" style="color: #3C763D;">Selected</div>
          <div ng-show="$ctrl.theme.codename != th.codename">Unlocked</div>
        </span>
      </div>

      </divclass>


    </div>


  </div>


  <button class="btn btn-default" ng-click="$ctrl.changeTheme({codename: 'material'})">CHANGE THEME</button>

</div>
